#*#
*.a
*.d
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.obj
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.pyc
*.so
*.suo
*~
*,cover
.#*
.*.cmd
.*.swp
.coverage
.deps
.dirstamp
.libs
.tmp_versions
.gitattributes
/Makefile
/Makefile.in
/aclocal.m4
/all-distfiles
/all-gitfiles
/autom4te.cache
/build-arch-stamp
/build-indep-stamp
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure-stamp
/depcomp
/distfiles
/install-sh
/libtool
/manpage-check
/missing
/missing-distfiles
/package.m4
/stamp-h1
/_build-gcc
/_build-clang
Module.symvers
TAGS
cscope.*
tags
_debian
.DS_Store
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/Makefile
/datapath/Makefile
/datapath/distfiles
/datapath/linux/Kbuild
/datapath/linux/Makefile
/datapath/linux/Makefile.main
/include/openflow/openflow-1.0.hstamp
/include/openflow/openflow-1.1.hstamp
/include/openflow/openflow-1.2.hstamp
/include/openflow/openflow.hstamp
/lib/dhparams.c
/lib/dirs.c
/ovsdb/ovsdb-client
/ovsdb/ovsdb-client.1
/ovsdb/ovsdb-doc
/ovsdb/ovsdb-dot
/ovsdb/ovsdb-idlc
/ovsdb/ovsdb-server
/ovsdb/ovsdb-server.1
/ovsdb/ovsdb-tool
/ovsdb/ovsdb-tool.1
/tests/atconfig
/tests/atlocal
/tests/test-aes128
/tests/test-bundle
/tests/test-byte-order
/tests/test-classifier
/tests/test-csum
/tests/test-file_name
/tests/test-flows
/tests/test-hash
/tests/test-heap
/tests/test-hmap
/tests/test-json
/tests/test-jsonrpc
/tests/test-list
/tests/test-lockfile
/tests/test-multipath
/tests/test-netflow
/tests/test-odp
/tests/test-ovsdb
/tests/test-packets
/tests/test-random
/tests/test-reconnect
/tests/test-sha1
/tests/test-stp
/tests/test-strtok_r
/tests/test-timeval
/tests/test-type-props
/tests/test-unix-socket
/tests/test-util
/tests/test-uuid
/tests/test-vconn
/utilities/bugtool/ovs-bugtool
/utilities/nlmon
/utilities/ovs-appctl
/utilities/ovs-appctl.8
/utilities/ovs-benchmark
/utilities/ovs-benchmark.1
/utilities/ovs-check-dead-ifs
/utilities/ovs-controller
/utilities/ovs-controller.8
/utilities/ovs-ctl
/utilities/ovs-dpctl
/utilities/ovs-dpctl.8
/utilities/ovs-l3ping
/utilities/ovs-l3ping.8
/utilities/ovs-lib
/utilities/ovs-ofctl
/utilities/ovs-ofctl.8
/utilities/ovs-parse-backtrace
/utilities/ovs-parse-leaks
/utilities/ovs-pcap
/utilities/ovs-pcap.1
/utilities/ovs-pki
/utilities/ovs-pki.8
/utilities/ovs-tcpundump
/utilities/ovs-tcpundump.1
/utilities/ovs-test
/utilities/ovs-test.8
/utilities/ovs-vlan-bug-workaround
/utilities/ovs-vlan-bug-workaround.8
/utilities/ovs-vlan-test
/utilities/ovs-vlan-test.8
/utilities/ovs-vsctl
/utilities/ovs-vsctl.8
/vswitchd/ovs-brcompatd
/vswitchd/ovs-brcompatd.8
/vswitchd/ovs-vswitchd
/vswitchd/ovs-vswitchd.8
/vswitchd/vswitch.ovsschema.stamp
/.tags
/.tags_sorted_by_file
